################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/infrastructure/Infrastructure.csproj
/.vs/TaskApp/v17/.wsuo
